:root{
    --text-color:#353535;
    --background-pink:#F5E2F5;
    --background-grey:#d5d5d5;
 
 }

*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', Helvetica, sans-serif;
}

.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 80px;
    margin: 150px 0 0 0;
}
.pics{
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 100px 0;

}
.first-two{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.third-img img{
    height: 300px;
    border-radius: 10px;
    width: 200px;
    object-fit: cover;
   
}
.first-two img{
    border-radius: 10px;
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.form .submit{
    display: flex;
    justify-content: end;
    align-items: center;
}
.form button{
    padding: 15px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--background-grey);
    width: 150px;
    margin: 20px 0;
    display: block;
}
.form input{
    width: 500px;
    /* height: 50px; */
    background-color: var(--background-grey);
    padding: 15px;
    border: none;
    display: block;
    margin: 20px 0 ;
}
.form textarea{
    background-color: var(--background-grey);
    border: none;
    width: 500px;
    padding: 15px;
}
