:root{
    --tex-color:#353535;
    --background-pink:#F5E2F5;
    --background-grey:#d5d5d5;
 
 }

main{
    margin: 50px;

}
img{
    width: 255px;
    height: 400px;
    object-fit: cover;
}
h2{
    font-size: 16px;
}
.img-text button{
    text-align: left;
    padding: 12px 5px;
    width: 150PX;
    border: none;
    background-color: var(--background-grey);
}
.heading{
    margin: 250px 0 100px;
}
.heading h1{
    text-align: center;
    color: var(--text-color);
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text h4{
    width: 320px;
    margin:0 0  30px 0;
    line-height: 25px;
}
.text p{
    line-height: 20px;
    margin: 0 0 30px 0;
    width: 530px;
}
/* .social {
    display: flex;
    justify-content: center;
} */
.social button{
    width: 150px;
    padding: 12px 5px;
    border: none;
    background-color: var(--background-grey);
   margin-right: 50px;
}
.social a i{
    color: var(--text-color);
    margin-right: 10px;
    height: 20;
    width: 20;
}
.img2{
    display: flex;
    gap: 50px;
}
.img2 img{
    
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
#second{
    margin-top: 100px;
}
.heading2{
    margin: 100px 0;
    text-align: left;
}
.img1{
    display: flex;
    width: 100%;
}
.img-text img{
    margin-bottom: 20px;
    border-radius: 10px;
}
.img-text h4, .img-text p{
    padding-left: 5px;
    margin-bottom: 10px;
}
.img-text{
    width: 100%;
    margin-bottom: 20px;
}
.view{
    display: flex;
    justify-content: center;
    margin: 100px;
   
}
.view button{
    background-color: var(--background-grey);
    width: 150px;
    border: none;
    padding: 12px 5px;
}
.view a{
    color: var(--text-color);
    text-decoration: none;
    text-align: center !important;
    font-size: 14px;
   
}
.middle{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img3{
    display: flex;
    gap: 50px;
}
.img3 img{
    
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
#second2{
    margin-top: 100px;
}
.popular h2{
    margin: 100px 0;
}
.popular:last-of-type{
    margin-bottom: 100px;
}